Repository ant-ms/Stash: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-worker, build-gatekeeper, build-symlinker, build-tv-client, pages

build-frontend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint:
    - ''
  before_script:
  - cp schema.prisma _frontend/
  script:
  ...

build-worker:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint:
    - ''
  before_script:
  - cp schema.prisma _worker/
  script:
  ...

build-gatekeeper:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint:
    - ''
  script:
  ...

build-symlinker:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint:
    - ''
  script:
  ...

build-tv-client:
  image: electronuserland/builder:latest
  stage: build
  before_script:
  - cd _tv_client
  - npm i -g pnpm
  - apt-get update && apt-get install -y flatpak flatpak-builder
  script:
  - flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
  ...

pages:
  stage: deploy
  image: electronuserland/builder:latest
  script:
  - ostree init --mode=archive-z2 --repo=public
  - ostree pull-local --repo=public _tv_client/repo
  - flatpak build-update-repo public --generate-static-deltas
  - 'cat <<EOF > public/stash.flatpakrepo
  
    [Flatpak Repo]
  
  ...

feat(frontend): add experimental yt-dlp import
  _frontend/src/components/Popups/ImportPopup/ImportPopup.svelte
  _frontend/src/components/Popups/ImportPopup/ImportSources.svelte.ts
  _frontend/src/lib/server/routes/media.ts
Due: build-frontend

chore(gitignore): ignore .antigravitycli
  .gitignore
Due: none

ci(frontend): try deploying with cached dependencies
  _frontend/Dockerfile
Due: build-frontend

chore: try to replace --legacy flag
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ci: disable kaniko cache
  .gitlab-ci.yml
Due: none

chore: attach .npmrc
  _frontend/Dockerfile
Due: build-frontend

refactor: move yt-dlp to worker only
  _frontend/src/components/Popups/ImportPopup/ImportPopup.svelte
  _frontend/src/lib/server/routes/media.ts
  _worker/Dockerfile
  _worker/jobs/media/importFromUrl.ts
Due: build-frontend, build-worker

docs(README): add hobby disclaimer
  README.md
Due: none

chore(worker): fix dockerfile yt-dlp install
  _worker/Dockerfile
Due: build-worker

fix(worker): no fallback for yt-dlp
  _worker/jobs/media/importFromUrl.ts
Due: build-worker

chore(deps): update all non-major dependencies
  _frontend/package.json
  package.json
  pnpm-lock.yaml
Due: build-frontend

fix(frontend): adding a new tag should refresh now
  _frontend/src/components/ImageGrid/ImageGrid.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Page.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Studios.svelte
  _frontend/src/components/elements/Table.svelte
  _frontend/src/lib/controllers/TagsController.svelte.ts
Due: build-frontend

feat(frontend): add media orientation filter
  _frontend/src/components/ImageGrid/FilterBar.svelte
  _frontend/src/lib/client/QuickSwitchHelpers/filters.svelte.ts
  _frontend/src/lib/controllers/MediaController.svelte.ts
  _frontend/src/lib/server/routes/media-query.ts
Due: build-frontend

fix(frontend): select did not work on mobile
  _frontend/src/components/elements/Select.svelte
Due: build-frontend

fix(frontend): on mobile closing fullscreen media should no longer trigger browser refresh action
  _frontend/src/components/MediaViewer/MediaViewerImage.svelte
  _frontend/src/components/Mobile/MediaViewerMobile.svelte
Due: build-frontend

feat(worker): add WIP smart tag sync job
  _worker/jobs/media/smartTagSync.ts
  _worker/jobs/media/triggerSmartTagSyncs.ts
  _worker/lib/sources/dynamic.ts
  _worker/lib/sources/index.ts
  _worker/lib/sources/types.ts
  schema.prisma
Due: build-frontend, build-worker, build-gatekeeper

perf(worker): use more efficient curl from URL job instead of yt-dlp
  _worker/jobs/media/curlFromUrl.ts
  _worker/jobs/media/smartTagSync.ts
  _worker/lib/sources/dynamic.ts
  _worker/lib/sources/types.ts
  tests/mediaSources.spec.ts
Due: build-worker

feat(frontend): add minimal tag sync logic
  .gitignore
  _frontend/src/components/ImageGrid/FilterBar.svelte
  _frontend/src/components/MediaViewer/MediaViewerImage.svelte
  _frontend/src/components/Popups/ImportPopup/ImportPopup.svelte
  _frontend/src/components/Tags/TagChip.svelte
  _frontend/src/components/elements/Select.svelte
  _frontend/src/lib/client/QuickSwitchHelpers/filters.svelte.ts
  _frontend/src/lib/controllers/TagsController.svelte.ts
  _frontend/src/lib/server/routes/media-query.ts
  _frontend/src/lib/server/routes/tags.ts
  _frontend/src/routes/settings/+layout.svelte
  _frontend/src/routes/settings/media-sources/+page.server.ts
  _frontend/src/routes/settings/media-sources/+page.svelte
  _frontend/src/routes/settings/media-sources/AddNewMediaSourcePopup.svelte
  _frontend/src/routes/settings/media-sources/create/+server.ts
  _frontend/src/routes/settings/media-sources/edit/+server.ts
  _frontend/src/routes/settings/scheduled-jobs/+page.server.ts
  _frontend/src/routes/settings/scheduled-jobs/+page.svelte
  _frontend/src/routes/settings/tags/+page.server.ts
  _frontend/src/routes/settings/tags/+page.svelte
  _frontend/src/routes/settings/tags/EditSmartTagPopup.svelte
Due: build-frontend

feat(worker): add sync pagination
  _worker/jobs/media/smartTagSync.ts
  _worker/lib/sources/dynamic.ts
  _worker/lib/sources/types.ts
Due: build-worker

fix(worker): add downloaded media to the correct cluster
  README.md
  _worker/jobs/media/smartTagSync.ts
  _worker/jobs/media/triggerSmartTagSyncs.ts
Due: build-worker

fix(worker): pools belong to parent cluster
  _worker/jobs/media/smartTagSync.ts
Due: build-worker

feat(frontend): allow hiding of too many subtags
  _frontend/src/lib/controllers/TagsController.svelte.ts
  _frontend/src/routes/[cluster]/SidebarHierarchyEntry.svelte
  _frontend/src/routes/api/tags/[id]/+server.ts
  schema.prisma
Due: build-frontend, build-worker, build-gatekeeper

fix(worker): attach real upload data to synced media
  _worker/jobs/media/smartTagSync.ts
Due: build-worker

chore(frontend): add empty sbom json file
  _frontend/src/lib/sbom.json
Due: build-frontend

feat: generate and display SBOM
  .gitlab-ci.yml
  _frontend/src/routes/settings/about/+page.svelte
Due: build-frontend

fix(frontend): orphaned file query did not run
  _frontend/src/routes/settings/orphaned/[filename]/+server.ts
  tests/orphaned.spec.ts
Due: build-frontend

fix(frontend): make thumbnail reload during upload more reliable
  _frontend/src/components/MediaViewer/MediaViewerImage.svelte
  _frontend/src/lib/controllers/TagsController.svelte.ts
  _frontend/src/routes/[cluster]/SidebarHierarchyEntry.svelte
  _frontend/src/routes/settings/about/+page.svelte
Due: build-frontend

perf(worker): only sync active pools often
  _worker/jobs/media/triggerSmartTagSyncs.ts
Due: build-worker

chore: release packages
  _desktop_client/CHANGELOG.md
  _frontend/CHANGELOG.md
  _frontend/package.json
  _gatekeeper/CHANGELOG.md
  _gatekeeper/package.json
  _worker/CHANGELOG.md
  _worker/package.json
Due: build-frontend, build-worker, build-gatekeeper

fix(frontend): orphaned media counter was wrong
  _frontend/src/routes/settings/+layout.server.ts
  _frontend/src/routes/settings/orphaned/+page.server.ts
Due: build-frontend

feat(frontend): small improvements to the duplicate page
  _frontend/src/routes/settings/duplicates/[content_hash]/+page.svelte
Due: build-frontend

feat(frontend): allow running updateMediaMetadataFromFile on media with unknown type
  _frontend/src/routes/settings/orphaned/[filename]/+server.ts
  _frontend/src/routes/settings/scheduled-jobs/+page.server.ts
  _frontend/src/routes/settings/scheduled-jobs/+page.svelte
Due: build-frontend

chore(worker): add schema symlink
  _worker/schema.prisma
Due: build-worker

refactor: worker creates post upload jobs instead of frontend (should fix mime issues)
  _frontend/src/lib/server/actions/create-post-upload-jobs.ts
  _worker/jobs/media/curlFromUrl.ts
  _worker/jobs/media/importFromUrl.ts
  _worker/jobs/media/updateMediaMetadataFromFile.ts
Due: build-frontend, build-worker

perf(worker): allow concurrent jobs
  _worker/index.ts
Due: build-worker

fix(frontend): duplicate merge popup did not update the tags
  _frontend/src/routes/settings/duplicates/+layout.server.ts
  _frontend/src/routes/settings/duplicates/[content_hash]/+page.svelte
Due: build-frontend

chore(frontend): used legacy function by accident
  _frontend/src/routes/settings/duplicates/[content_hash]/+page.svelte
Due: build-frontend

chore(deps): update all non-major dependencies
  _frontend/package.json
  _gatekeeper/Dockerfile
  pnpm-lock.yaml
Due: build-frontend, build-gatekeeper

chore(deps): update dependency stylelint-config-clean-order to v10
  _frontend/package.json
  pnpm-lock.yaml
Due: build-frontend

Path conditions:
  build-frontend: any of: _frontend/**/*, schema.prisma
  build-worker: any of: _worker/**/*, schema.prisma
  build-gatekeeper: any of: _gatekeeper/**/*, schema.prisma
  build-symlinker: any of: _symlinker/**/*
  build-tv-client: any of: _tv_client/**/*
  pages: any of: _tv_client/**/*
