Repository ant-ms/Stash: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-worker, build-gatekeeper, build-symlinker, build-tv-client, pages

Path conditions:
  build-frontend: any of: _frontend/**/*, schema.prisma
  build-worker: any of: _worker/**/*, schema.prisma
  build-gatekeeper: any of: _gatekeeper/**/*, schema.prisma
  build-symlinker: any of: _symlinker/**/*
  build-tv-client: any of: _tv_client/**/*
  pages: any of: _tv_client/**/*

ci: run everything on .gitlab-ci.yml update
  .gitlab-ci.yml
Due: none

ci(pages): switch image
  .gitlab-ci.yml
Due: none

fix(tv_client): added zypak module
  .gitlab-ci.yml
  _tv_client/svelte.config.js
  _tv_client/tv-client.yml
Due: build-tv-client, pages

chore: remove tv_client
  .gitlab-ci.yml
  _tv_client/.gitignore
  _tv_client/.gitlab-ci-local/.gitignore
  _tv_client/.npmrc
  _tv_client/.prettierignore
  _tv_client/.prettierrc
  _tv_client/logo.png
  _tv_client/main.js
  _tv_client/package.json
  _tv_client/pnpm-lock.yaml
  _tv_client/pnpm-workspace.yaml
  _tv_client/src/app.d.ts
  _tv_client/src/app.html
  _tv_client/src/lib/assets/favicon.svg
  _tv_client/src/lib/components/Icon.svelte
  _tv_client/src/lib/components/possibleIcons.ts
  _tv_client/src/lib/index.svelte.ts
  _tv_client/src/routes/+layout.svelte
  _tv_client/src/routes/+layout.ts
  _tv_client/src/routes/+page.svelte
  _tv_client/src/routes/[cluster]/+page.svelte
  _tv_client/src/routes/[cluster]/[tag]/+page.svelte
  _tv_client/src/routes/[cluster]/[tag]/[video]/+page.svelte
  _tv_client/svelte.config.js
  _tv_client/tsconfig.json
  _tv_client/tv-client.yml
  _tv_client/vite.config.ts
  _tv_client/zypak-wrapper.sh
Due: build-tv-client, pages

feat(frontend): add TV layout with keyboard navigation
  _frontend/src/components/FuzzyTemplate.svelte
  _frontend/src/components/ImageGrid/GridThumbnail.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Collection.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Studios.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Studios_Thumbnail.svelte
  _frontend/src/components/MediaViewer/MediaViewer.svelte
  _frontend/src/components/MediaViewer/MediaViewerVideo.svelte
  _frontend/src/components/Popups/ActionBars/Cast.svelte
  _frontend/src/components/Popups/QuickSwitch.svelte
  _frontend/src/components/Popups/QuickSwitcher/FuzzyPopupTemplate.svelte
  _frontend/src/components/Tags/TagInputField.svelte
  _frontend/src/components/elements/Button.svelte
  _frontend/src/components/elements/ProgressBar.svelte
  _frontend/src/components/elements/Select.svelte
  _frontend/src/components/elements/Toggle.svelte
  _frontend/src/lib/client/keyboard-navigation.ts
  _frontend/src/lib/context.ts
  _frontend/src/reusables/IntersectionObserver.svelte
  _frontend/src/reusables/Popup.svelte
  _frontend/src/routes/+layout.svelte
  _frontend/src/routes/Controller.svelte
  _frontend/src/routes/[cluster]/+layout.svelte
  _frontend/src/routes/[cluster]/+page.svelte
  _frontend/src/routes/[cluster]/Sidebar.svelte
  _frontend/src/routes/[cluster]/SidebarTagsSection.svelte
  _frontend/src/routes/settings/+layout.svelte
  _frontend/src/routes/settings/general/+page.svelte
  _frontend/src/styles/app.scss
Due: build-frontend

fix(frontend): navigation should work after exiting fullscreen
  _frontend/src/components/ImageGrid/GridThumbnail.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Collection.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Studios_Thumbnail.svelte
  _frontend/src/components/MediaViewer/MediaViewerVideo.svelte
  _frontend/src/components/Popups/ActionBars/Cast.svelte
  _frontend/src/components/elements/Button.svelte
  _frontend/src/components/elements/ProgressBar.svelte
  _frontend/src/components/elements/Select.svelte
  _frontend/src/components/elements/Toggle.svelte
  _frontend/src/routes/+layout.svelte
  _frontend/src/routes/[cluster]/+page.svelte
  _frontend/src/routes/[cluster]/SidebarTagsSection.svelte
Due: build-frontend

fix(frontend): show controls when seeking with keyboard and fix incorrect button colour in player
  _frontend/src/components/MediaViewer/MediaViewerVideo.svelte
  _frontend/src/lib/vars.svelte.ts
  _frontend/src/routes/+layout.svelte
  _frontend/src/styles/app.scss
Due: build-frontend

fix(frontend): seeking only went forward
  _frontend/src/components/MediaViewer/MediaViewerVideo.svelte
Due: build-frontend

fix(worker): tweak gather preceived loudness
  _frontend/src/components/MediaViewer/MediaViewerVideo.svelte
  _worker/jobs/media/gatherPerceivedLoudness.ts
Due: build-frontend, build-worker

fix(worker): gatherPerceivedLoudness should no longer fail when no audio streams exist
  _worker/jobs/media/gatherPerceivedLoudness.ts
Due: build-worker

fix(frontend): build had failed
  _frontend/package.json
  _frontend/pnpm-lock.yaml
  _frontend/src/components/MediaViewer/MediaViewerVideo.svelte
  _frontend/src/components/Popups/MediaDetailsPopup.svelte
  _frontend/src/lib/server/actions/create-pre-upload-media-entry.ts
Due: build-frontend

chore(frontend): bump dependencies
  _frontend/package.json
  _frontend/pnpm-lock.yaml
Due: build-frontend

feat(frontend): add basic table view
  _frontend/src/components/ImageGrid/ImageGrid.svelte
  _frontend/src/components/ImageGrid/ImageGrid_Table.svelte
  _frontend/src/components/elements/Table.svelte
  _frontend/src/lib/client/QuickSwitchHelpers/filters.svelte.ts
  _frontend/src/lib/server/actions/create-post-upload-jobs.ts
  _frontend/src/lib/server/routes/media-query.ts
  _frontend/src/lib/vars.svelte.ts
  _worker/jobs/media/updateMediaMetadataFromFile.ts
  schema.prisma
Due: build-frontend, build-worker, build-gatekeeper

fix(frontend): show cursor when mouse move in video player
  _frontend/src/components/MediaViewer/MediaViewerVideo.svelte
Due: build-frontend

feat(frontend): add sorting by size
  _frontend/src/components/ImageGrid/ImageGrid_Table.svelte
  _frontend/src/types.ts
Due: build-frontend

fix(worker): duration as string, should be number
  _worker/jobs/media/updateMediaMetadataFromFile.ts
Due: build-worker

feat: allow importing of torrents with more than one file
  _frontend/pnpm-lock.yaml
  _frontend/src/components/ImageGrid/ImageGrid_Table.svelte
  _frontend/src/components/MediaViewer/MediaViewerVideo.svelte
  _frontend/src/components/Popups/ImportPopup/ImportPopup.svelte
  _frontend/src/components/Popups/ImportPopup/ImportPopupTransmissionSection.svelte
  _frontend/src/components/Popups/ImportPopup/ImportSources.svelte.ts
  _frontend/src/components/Popups/Prompts/SelectMultiplePromptPopup.svelte
  _frontend/src/lib/constants.ts
  _frontend/src/lib/controllers/PromptController.ts
  _frontend/src/lib/server/routes/media.ts
  _frontend/src/lib/server/routes/transmission.ts
  _frontend/src/routes/settings/transmission/+page.server.ts
  _frontend/src/routes/settings/transmission/+page.svelte
Due: build-frontend

fix(_worker): use absolutePath instead of relative path to allow symlink support
  _gatekeeper/main.go
  _worker/jobs/media/createMediaSeekThumbnails.ts
  _worker/jobs/media/createMediaThumbnail.ts
  _worker/jobs/media/gatherPerceivedLoudness.ts
  _worker/jobs/media/updateMediaMetadataFromFile.ts
  _worker/lib/getMetadataFromFile.ts
Due: build-worker, build-gatekeeper

fix: grid thumbnail seeking error
  _frontend/src/components/ImageGrid/GridThumbnail.svelte
Due: build-frontend

feat(frontend): add FilterBar
  _frontend/src/components/ImageGrid/FilterBar.svelte
  _frontend/src/components/ImageGrid/ImageGrid.svelte
  _frontend/src/components/MobileBottomBar.svelte
  _frontend/src/components/elements/Select.svelte
  _frontend/src/lib/vars.svelte.ts
  _frontend/src/routes/[cluster]/Sidebar.svelte
Due: build-frontend

fix(frontend): torrent symlink path fix
  _frontend/src/components/Popups/ImportPopup/ImportSources.svelte.ts
Due: build-frontend

fix: keep downlaodDir
  _frontend/src/components/Popups/ImportPopup/ImportSources.svelte.ts
Due: build-frontend

fix(frontend): importing bulk media should be more reliable
  _frontend/src/components/Popups/ImportPopup/ImportSources.svelte.ts
  _frontend/src/lib/server/routes/transmission.ts
Due: build-frontend

feat: mobile navigation overhaul
  _frontend/src/components/ImageGrid/FilterBar.svelte
  _frontend/src/components/ImageGrid/ImageGrid.svelte
  _frontend/src/components/MediaViewer/MediaViewer.svelte
  _frontend/src/components/MediaViewer/MediaViewerImage.svelte
  _frontend/src/components/MediaViewer/MediaViewerVideo.svelte
  _frontend/src/components/MediaViewer/Toolbar.svelte
  _frontend/src/components/Mobile/MediaViewerMobile.svelte
  _frontend/src/components/Mobile/MobileToolbar.svelte
  _frontend/src/components/MobileBottomBar.svelte
  _frontend/src/components/Tags/TagInputField.svelte
  _frontend/src/components/elements/Button.svelte
  _frontend/src/lib/stores.svelte.ts
  _frontend/src/routes/settings/general/+page.svelte
Due: build-frontend

chore: add _external_source_proxy_base in preparatino of a new auto import feature
  .gitlab-ci.yml
  _external_source_proxy_base/db.ts
  _external_source_proxy_base/deno.json
  _external_source_proxy_base/deno.lock
  _external_source_proxy_base/main.ts
  _external_source_proxy_base/mod.ts
  _external_source_proxy_base/types.ts
Due: none

ci: deno publish fix
  .gitlab-ci.yml
Due: none

chore: remove .vscode folder
  .vscode/settings.json
Due: none

chore: remove _external_source_proxy_base
  _external_source_proxy_base/db.ts
  _external_source_proxy_base/deno.json
  _external_source_proxy_base/deno.lock
  _external_source_proxy_base/main.ts
  _external_source_proxy_base/mod.ts
  _external_source_proxy_base/types.ts
Due: none

refactor: move symlinker into worker
  .gitlab-ci.yml
  _frontend/src/lib/server/routes/settings.ts
  _frontend/src/routes/settings/scheduled-jobs/+page.server.ts
  _frontend/src/routes/settings/scheduled-jobs/+page.svelte
  _frontend/src/routes/settings/scheduled-jobs/ScheduledJobCard.svelte
  _symlinker/Dockerfile
  _symlinker/go.mod
  _symlinker/go.sum
  _symlinker/main.go
  _symlinker/test.txt
  _worker/bun.lockb
  _worker/index.ts
  _worker/jobs/media/rebuildSymlinks.ts
  _worker/package.json
Due: build-frontend, build-worker, build-symlinker

fix: gatekeeper now also uses DATABASE_URL
  _gatekeeper/main.go
Due: build-gatekeeper

feat(frontend): switch from @mistralai/mistralai to @openrouter/ai-sdk-provider
  _frontend/package.json
  _frontend/pnpm-lock.yaml
  _frontend/src/routes/api/ai/prompt/+server.ts
  schema.prisma
Due: build-frontend, build-worker, build-gatekeeper

docs: add .env.example
  .env.example
Due: none

docs: add docker-compose example
  docker-compose.example.yml
Due: none

docs: add basic README to get started
  .assets/home.png
  README.md
Due: none

feat(frontend): move Icons to DB
  _frontend/src/components/ContextMenu.svelte
  _frontend/src/components/Popups/ImportPopup/ImportSources.svelte.ts
  _frontend/src/components/Popups/Prompts/IconPromptPopup.svelte
  _frontend/src/components/elements/Button.svelte
  _frontend/src/components/elements/Icon.svelte
  _frontend/src/components/elements/Select.svelte
  _frontend/src/lib/client/QuickSwitchHelpers/filters.svelte.ts
  _frontend/src/lib/client/QuickSwitchHelpers/search.svelte.ts
  _frontend/src/lib/controllers/PromptController.ts
  _frontend/src/lib/controllers/TagsController.svelte.ts
  _frontend/src/lib/possibleIcons.svelte.ts
  _frontend/src/lib/possibleIcons.ts
  _frontend/src/routes/+layout.server.ts
  _frontend/src/routes/+layout.svelte
  _frontend/src/routes/[cluster]/SidebarHierarchyEntry.svelte
  _frontend/src/routes/api/icons/+server.ts
  _frontend/src/routes/api/icons/[id]/+server.ts
  _frontend/src/routes/settings/+layout.svelte
  _frontend/src/routes/settings/clusters/+page.svelte
  _frontend/src/routes/settings/clusters/AddNewClusterPopup.svelte
  _frontend/src/routes/settings/icons/+page.svelte
  _frontend/src/routes/settings/scheduled-jobs/JobCard.svelte
  _frontend/src/routes/settings/scheduled-jobs/ScheduledJobCard.svelte
  _frontend/src/types.ts
  schema.prisma
Due: build-frontend, build-worker, build-gatekeeper

ci: remove now non-existent _external_source_proxy_base
  .gitlab-ci.yml
Due: none

ci: publish-deno-library job no longer needed
  .gitlab-ci.yml
Due: none

refactor: remove unused icon packs from settings
  _frontend/src/routes/settings/+layout.svelte
  _frontend/src/routes/settings/icon-packs/+page.svelte
Due: build-frontend

chore: add LICENCE
  LICENCE
Due: none
