Repository ant-ms/Stash: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-worker, build-gatekeeper, build-symlinker, build-tv-client, pages

build-frontend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint:
    - ''
  before_script:
  - cp schema.prisma _frontend/
  script:
  ...

build-worker:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint:
    - ''
  before_script:
  - cp schema.prisma _worker/
  script:
  ...

build-gatekeeper:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint:
    - ''
  script:
  ...

build-symlinker:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint:
    - ''
  script:
  ...

build-tv-client:
  image: electronuserland/builder:latest
  stage: build
  before_script:
  - cd _tv_client
  - npm i -g pnpm
  - apt-get update && apt-get install -y flatpak flatpak-builder
  script:
  - flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
  ...

pages:
  stage: deploy
  image: electronuserland/builder:latest
  script:
  - ostree init --mode=archive-z2 --repo=public
  - ostree pull-local --repo=public _tv_client/repo
  - flatpak build-update-repo public --generate-static-deltas
  - 'cat <<EOF > public/stash.flatpakrepo
  
    [Flatpak Repo]
  
  ...

feat(_desktop_client): allow configuring remote URL
  _desktop_client/config.html
  _desktop_client/main.js
  _desktop_client/preload.js
Due: none

feat(_frontend): allow configuration of serverURL
  _frontend/src/components/Popups/ImportPopup/ImportPopupImportablesSelection.svelte
  _frontend/src/components/Popups/ImportPopup/ImportSources.svelte.ts
  _frontend/src/components/Popups/views/MasonaryView.svelte
  _frontend/src/lib/client/fcast/websocket-controller.svelte.ts
  _frontend/src/routes/+layout.server.ts
  _frontend/src/routes/settings/orphaned/+page.svelte
  _frontend/src/routes/settings/transmission/+page.svelte
Due: build-frontend

chore: add changeset
  .changeset/README.md
  .changeset/config.json
  README.md
  _desktop_client/package.json
  _frontend/package.json
  _worker/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: build-frontend, build-worker

feat: initial version (still in early beta fyi)
  _desktop_client/CHANGELOG.md
  _desktop_client/package.json
  _frontend/CHANGELOG.md
  _frontend/package.json
  _worker/CHANGELOG.md
  _worker/package.json
Due: build-frontend, build-worker

chore: update bun lock file to non-binary version
  _worker/Dockerfile
  _worker/bun.lock
  _worker/bun.lockb
Due: build-worker

deps: bump golang version
  _gatekeeper/Dockerfile
Due: build-gatekeeper

docs: add /app/hierarchy sample mounting point
  docker-compose.example.yml
Due: none

chore(_frontend): update lock file
  pnpm-lock.yaml
Due: none

fix(_worker): only delete contents of hierarchy folder and not folder itself
  _worker/jobs/media/rebuildSymlinks.ts
Due: build-worker

chore: remove .env
  .env
Due: none

docs(_frontend): remove README
  _frontend/README.md
Due: build-frontend

docs(_worker): remove README
  _worker/README.md
Due: build-worker

chore(.changesets): now appends commits to CHANGELOG
  .changeset/README.md
  .changeset/append-commits.mjs
  .changeset/config.json
  README.md
  package.json
Due: none

chore: release packages
  _desktop_client/CHANGELOG.md
  _desktop_client/package.json
  _frontend/CHANGELOG.md
  _frontend/package.json
  _worker/CHANGELOG.md
  _worker/package.json
Due: build-frontend, build-worker

chore: move pnpm onlyBuiltDependencies to root
  _frontend/package.json
  package.json
Due: build-frontend

chore(.changeset): gatekeeper now is versioned alongside the others and
  .changeset/append-commits.mjs
  .changeset/config.json
  _gatekeeper/CHANGELOG.md
  _gatekeeper/package.json
  pnpm-workspace.yaml
Due: build-gatekeeper

ci: add dependabot config file
  .github/dependabot.yml
Due: none

deps: move to global pnpm lock file
  .gitlab-ci.yml
  _frontend/Dockerfile
  _frontend/pnpm-lock.yaml
  pnpm-lock.yaml
Due: build-frontend

ci(_worker): build out of root
  .gitlab-ci.yml
  _worker/Dockerfile
  _worker/prisma.config.ts
  _worker/schema.prisma
Due: build-worker

chore(_frontend): fix prisma generation and bump node version
  _frontend/Dockerfile
Due: build-frontend

fix(_frontend): dependency mishap
  _frontend/Dockerfile
Due: build-frontend

fix(_workers): handle symlinks properly
  .env.example
  _desktop_client/config.html
  _worker/jobs/media/rebuildSymlinks.ts
Due: build-worker

chore: remove redis entirely
  README.md
  _frontend/package.json
  _frontend/src/lib/server/redis.ts
  _frontend/src/routes/settings/+layout.svelte
  _frontend/src/routes/settings/queries/+page.server.ts
  _frontend/src/routes/settings/queries/+page.svelte
  docker-compose.example.yml
  pnpm-lock.yaml
  tests/docker-compose.yml
Due: build-frontend

feat(_frontend): cleanup unused console logs
  _frontend/src/components/ImageGrid/GridThumbnail.svelte
  _frontend/src/components/Popups/ActionBars/Cast.svelte
  _frontend/src/components/Popups/ImportPopup/ImportPopupTransmissionSection.svelte
  _frontend/src/components/Popups/ImportPopup/ImportSources.svelte.ts
  _frontend/src/lib/client/QuickSwitchHelpers/filters.svelte.ts
  _frontend/src/lib/client/QuickSwitchHelpers/search.svelte.ts
  _frontend/src/lib/client/fcast/controller.svelte.ts
  _frontend/src/lib/client/fcast/websocket-controller.svelte.ts
  _frontend/src/lib/controllers/MediaController.svelte.ts
  _frontend/src/lib/controllers/PromptController.ts
  _frontend/src/lib/controllers/TagsController.svelte.ts
  _frontend/src/lib/server/routes/gks.ts
  _frontend/src/routes/+layout.server.ts
  _frontend/src/routes/+layout.svelte
  _frontend/src/routes/Controller.svelte
  _frontend/src/routes/api/cluster/[cluster]/import/+server.ts
  _frontend/src/routes/api/media/[media]/specialFilterAttribute/+server.ts
  _frontend/src/routes/settings/duplicates/[content_hash]/+page.svelte
  _frontend/src/routes/signin/+page.svelte
  _frontend/src/routes/signin/+server.ts
  _frontend/static/worker.js
  _worker/index.ts
  _worker/jobs/media/rebuildSymlinks.ts
  _worker/migrate.ts
Due: build-frontend, build-worker

chore: replace dependabot with renovate
  .github/dependabot.yml
  renovate.json
Due: none

ci: add renovate job
  .gitlab-ci.yml
Due: none

ci: do not run other jobs when renovate is running
  .gitlab-ci.yml
Due: none

ci: increase renovate log level
  .gitlab-ci.yml
Due: none

ci: debug if token is shown
  .gitlab-ci.yml
Due: none

fix(frontend): use UUID for session
  _frontend/src/routes/signin/+server.ts
Due: build-frontend

ci: fix renovate pipelines now download corepack
  .gitlab-ci.yml
  renovate.json
Due: none

chore(worker): update bun.lock
  _worker/bun.lock
Due: build-worker

chore(deps): update dependency electron to v42
  _desktop_client/package.json
Due: none

chore(deps): update all non-major dependencies
  .gitlab-ci.yml
  _frontend/package.json
  _gatekeeper/Dockerfile
  package.json
  pnpm-lock.yaml
Due: build-frontend, build-gatekeeper

chore(deps): update all non-major dependencies
  _frontend/package.json
  package.json
Due: build-frontend

chore(deps): update dependency prettier-plugin-svelte to v4
  _frontend/package.json
  pnpm-lock.yaml
Due: build-frontend

chore(frontend): run formatting
  _frontend/src/components/ImageGrid/GridThumbnail.svelte
  renovate.json
Due: build-frontend

feat: add range slider for duration filtering
  _frontend/src/components/ImageGrid/FilterBar.svelte
  _frontend/src/components/elements/RangeSlider.svelte
  _frontend/src/lib/client/QuickSwitchHelpers/filters.svelte.ts
  _frontend/src/lib/controllers/MediaController.svelte.ts
  _frontend/src/lib/controllers/TagsController.svelte.ts
  _frontend/src/lib/server/routes/media-query.ts
  _frontend/src/lib/server/routes/tags.ts
  _frontend/src/lib/vars.svelte.ts
  _frontend/src/routes/settings/duplicates/[content_hash]/+page.svelte
  _frontend/src/routes/settings/tags/+page.server.ts
  _frontend/src/routes/signin/+server.ts
Due: build-frontend

chore: delete .env
  .env
Due: none

Path conditions:
  build-frontend: any of: _frontend/**/*, schema.prisma
  build-worker: any of: _worker/**/*, schema.prisma
  build-gatekeeper: any of: _gatekeeper/**/*, schema.prisma
  build-symlinker: any of: _symlinker/**/*
  build-tv-client: any of: _tv_client/**/*
  pages: any of: _tv_client/**/*
